<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162101656047-qsf5oengmb2m5cjvc3q6427m6c7sfslb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162101656047-qsf5oengmb2m5cjvc3q6427m6c7sfslb</string>
	<key>API_KEY</key>
	<string>AIzaSyBexegKuocNzX34c2xS9keq8ehevhjCQ2A</string>
	<key>GCM_SENDER_ID</key>
	<string>162101656047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exo.dash3.dash3</string>
	<key>PROJECT_ID</key>
	<string>dash-3-2b6b5</string>
	<key>STORAGE_BUCKET</key>
	<string>dash-3-2b6b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162101656047:ios:17b9aef8cd1d7ef8e29e1a</string>
</dict>
</plist>